/*Fonts*/
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  src: local('Roboto'),
  url('../fonts/robotobold.woff2') format(woff2),
  url('../fonts/robotobold.woff') format(woff);
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto');
  url('../fonts/robotomedium.woff2') format(woff2);
  url('../fonts/robotomedium.woff') format(woff);
}

/*Variables*/

:root {
  --body-background-color1: #849D8F;
  --body-background-color2: #8996A6;
  --body-background-color3: #9D8B84;
  --basic-font-color: #FFFFFF;
  --main-menu-active-button: #EDEDED;
  --main-menu-shadow-color: #696969;
  --black-color: #323232;
  --hover-pink-color: #FBDED7;
  --active-pink-color: #F6B5A5;
  --button-gradient-usual: -webkit-linear-gradient(#F26843 0%, #E74A35 100%);
  --button-gradient-usual: -o-linear-gradient(#F26843 0%, #E74A35 100%);
  --button-gradient-usual: linear-gradient(#F26843 0%, #E74A35 100%);
  --raspberry-free: #A1092F;
  --chocolate-free: #57331C;
  --features-color: #E8D8B6;
  --mailing-background: #F8F7F4;
  --mailing-text-color: #5A5A5A;
  --contacts-background-color: #FEFEFE;
}

/*Grid*/

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/*Global*/

body {
  min-width: 1200px;
  margin: 0;
  font-family: 'Roboto', Arial, sans-serif;
  background-color: var(--body-background-color1);
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: var(--basic-font-color);
}

.page a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*Header*/
.main-header {
  display: grid;
}

.main-navigation-wrapper {
  display: grid;
  grid-template-columns: 154px 1fr 267px;
  padding-top: 11px;
  padding-left: 27px;
}

.main-navigation {
  display: grid;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-font-color);
  background-color: transparent;
}

.main-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
}

.main-menu,
.sub-menu {
  list-style: none;
}

.main-menu li {
  position: relative;
  display: inline-block;
  margin-left: 5px;
}
.main-menu a {
  display: block;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-font-color);
  padding: 9px 13px;
}

.main-menu a:hover {
  color: var(--black-color);
  background-color: var(--basic-font-color);
  border-radius: 26px;
}

.main-menu a:active {
  background-color: var(--main-menu-active-button);
  box-shadow: 0px 2px 1px var(--main-menu-shadow-color),
              inset 0px 2px 1px 0px rgba(105, 105, 105, 1);
}

.main-menu .sub-menu {
  display: none;
  position: absolute;
  width: 143px;
  background-color: var(--basic-font-color);
  border-radius: 4px;
  font-weight: normal;
  padding-inline-start: 0px;
}

.sub-menu a {
  color: var(--black-color);
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}

.main-menu > li:hover .sub-menu {
  display: block;
}

.sub-menu a:hover {
  background-color: var(--hover-pink-color);
  border-radius: 0px;
}

.sub-menu a:active {
  background-color: var(--active-pink-color);
}

.main-header-buttons {
  display: flex;
  flex-wrap: wrap;
}

.header-button {
  background: rgba(255, 255, 255, 0.2);
  height: 32px;
  border-radius: 20px;
}

.main-header-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 14px;
}

.main-header-buttons a {
  color: var(--basic-font-color);
  font-size: 14px;
  font-height: 16px;
}

.search {
  position: relative;
  width: 32px;
  height: 32px;
}

.search svg {
  position: absolute;
  left: 8px;
  top: 8px;
}

.search:hover path {
  fill: rgba(50, 50, 50, 1);
}

.enter {
  box-sizing: border-box;
  position: relative;
  width: 92px;
  text-align: right;
  padding-top: 8px;
  padding-right: 16px;
}

.enter svg {
  position: absolute;
  left: 16px;
  top: 6px;
}

.enter:hover path {
  fill: rgba(50, 50, 50, 1);
}

.cart {
  box-sizing: border-box;
  position: relative;
  width: 100px;
  text-align: right;
  padding-top: 8px;
  padding-right: 16px;
}

.cart::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 19px;
  left: 16px;
  top: 6px;
  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.cart:hover::before {
  background-image: url("../img/cart-full.svg");
}

.main-header-buttons a:hover {
  color: var(--black-color);
  background-color: var(--basic-font-color);
}

.header-item {
  color: var(--basic-font-color);
  font-weight: bold;
  font-size: 14px;
  font-weight: 16px;
  margin-top: 0;
  margin-bottom: 8px;
  margin-right: 27px;
}

.header-contacts-wrapper {
  display: grid;
  width: 1200px;
  /*margin: 0 auto;*/
}
.header-contacts {
  justify-self: end;
}
.header-phone {
  color: var(--basic-font-color);
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  padding-top: 8px;
  margin-right: 27px;
}

/*Container*/
.container {
  width: 1200px;
  margin: 0 auto;
}

/*Main*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.best-offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  padding-top: 321px;
  text-align: center;
  color: #ffffff;
  height: 200px;
}

.best-offer h2 {
  color: var(--basic-font-color);
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
}

.ice-cream {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 210px;
}

.slider-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 672px;
  margin: 0;
  padding: 0px;
  margin-bottom: 40px;
}

.slide-title {
  width: 700px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.best-offer-button {
  display: inline-block;
  padding: 12px 44px;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843, #e74a35);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}

.best-offer-button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px #AC1000;
}

.best-offer-button:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: inset 0px 2px 2px #942718;
}

.main-headline {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

.product-free-container {
  display: grid;
  align-items: stretch;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
  margin-bottom: 40px;
}

.raspberry-free {
  display: flex;
  flex-direction: column;
  width: 560px;
  height: 229px;
  margin-left: 27px;
  background-color: var(--raspberry-free);
  background-image: url(../img/raspberry.jpg);
  border-radius: 16px;
}

.raspberry-free h3 {
  padding-left: 16px;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 16px;
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}

.raspberry-free p {
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
  padding-left: 16px;
  align-self: stretch;
}

.product-free-button {
  align-self: flex-end;
  box-sizing: border-box;
  flex-basis: auto;
  margin-top: auto;
  height: 48px;
  padding: 15px 22px;
  margin-bottom: 22px;
  margin-right: 22px;
}

.button {
  display: inline-block;
  color: var(--basic-font-color);
  font-weight: bold;
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  border-radius: 70px;
  border: none;
}

.button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px #AC1000;
}

.button:active{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: inset 0px 2px 2px #942718;
  border: none;
}

.slider-controls {
  position: absolute;
  bottom: 70px;
  left: 20px;
  z-index: 20;
  display: flex;
  width: 80px;
  justify-content: space-between;
}

.slider-controls .current {
  background-color: #ffffff;
}

.slider-controls button {
  padding: 0;
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.site-wrapper {
min-width: 940px;
background-color: #849d8f;
background-image: url("../img/pair-icecream01.png");
background-repeat: no-repeat;
background-position: center 100px;
}

.chocolate-free {
  display: flex;
  flex-direction: column;
  width: 560px;
  height: 229px;
  margin: 0;
  padding: 0;
  background-color: var(--chocolate-free);
  background-image: url("../img/choco.jpg");
  border-radius: 16px;
}

.chocolate-free h3 {
  padding-left: 16px;
  margin-top: 16px;
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 35px;
  font-weight: bold;
  line-height: 41px;
}

.chocolate-free p {
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  padding-left: 16px;
}

.goods {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 26px;
  width: 586px;
  padding-left: 27px;
  margin-left: 0;
  margin-bottom: 40px;
  list-style: none;
}

.goods-catalog {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  column-gap: 26px;
  margin-bottom: 40px;
  list-style: none;
}

.goods-catalog-item {
  display: flex;
}

.goods-item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 267px;
  min-height: 402px;
  margin-bottom: 38px;
  position: relative;
}

.goods-item::after {
  content: "";
  position: absolute;
  left: -13px;
  top: -8px;
  width: 293px;
  height: 402px;
  border-radius: 5px;
}

.goods-item:hover::after,
.goods-item:focus::after {
  background-color: rgba(248, 247, 244, 0.2);
  z-index: 7;
}

.goods-item:hover > .fast-view,
.goods-item:focus > .fast-view {
  display: block;
  z-index: 10;
}

.goods-item-hit::before {
  content: "";
  position: absolute;
  width: 61px;
  height: 61px;
  left: 0;
  top: 0;
  background-image: url("../img/hit.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.ice-cream-img{
  width: 267px;
  height: 267px;
  border-radius: 50%;
  z-index: 1;
}

.goods-item-button {
  margin-top: auto;
  width: 200px;
  height: 48px;
  align-self: center;
  font-size: 18px;
  line-height: 24px
  font-style: normal;
  font-weight: 700;
  white-space: nowrap;
  text-align: center;
}

.goods-item-price {
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;
  margin-top: -65px;
}

.goods-item-name {
  margin-top: -15px;
  text-align: center;
}

.goods-item-name > a {
  color: var(--basic-font-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.fast-view {
  position: absolute;
  top: 350px;
  left: 30px;
  display: none;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

.features-wrapper {
  display: grid;
  justify-items: center;
  height: 306px;
  margin-top: -110px;
  margin-bottom: 40px;
}

.features {
  width: 1146px;
  background-color: var(--features-color);
  background-image: url("../img/wafer.jpg");
  border-radius: 16px;
}

.features h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  padding-left: 20px;
  padding-right: 20px;
}

.features-list {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 27px;
  grid-row-gap: 33px;
  list-style: none;
}

.feature-item {
  position: relative;
  padding-left: 23px;
}

.feature-item::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -30px;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
}

.feature-item-ice::before {
  background-image: url("../img/ice.png");
}

.feature-item-leaf::before {
  background-image: url("../img/leaf.png");
}

.feature-item-cow::before {
  background-image: url("../img/cow.png");
}

.feature-item-temp::before {
  background-image: url("../img/temp.png");
}

.features h2 {
  color: var(--black-color);
  font-size: 24px;
  line-height: 30px;
  font-weight: normal;
}

.features li {
  color: var(--black-color);
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
}

.news-mailing-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
  padding-left: 27px;
  padding-right: 27px;
  margin-bottom: 40px;
}

.news-content {
  display: flex;
  width: 300px;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
}

.news-content h2 {
  padding: 0;
  margin: 0;
}

.news {
  width: 560px;
  height: 220px;
  background-color: var(--basic-font-color);
  background-image: url("../img/strawberry-background.jpg");
  background-repeat: no-repeat;
  border-radius: 16px;
}

.news a {
  color: var(--black-color);
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  text-decoration: underline;
  padding: 0;
  margin: 0;
}

.news p {
  color: var(--black-color);
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
}

.mailing {
  position: relative;
  width: 560px;
  height: 220px;
  background-color: var(--mailing-background);
  color: var(--mailing-text-color);
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  border-radius: 16px;
}

.mailing-container {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  width: 512px;
  padding-top: 10px;
}

.mailing::after {
  content: "";
  width: 512px;
  height: 220px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 5px solid;
  border-image: url("../img/border.png") 2 round round;
  position: absolute;
  top: 0px;
  left: 0px;
}

.button-mailing {
  width: 130px;
  height: 44px;
}

.contacts {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 50%;
  top: 62px;
  margin-right: -573px;
  width: 303px;
  height: 306px;
  color: var(--black-color);
  background-color: var(--contacts-background-color);
  border-radius: 16px;
}

.contacts-wrapper {
  padding-top: 7px;
  padding-left: 25px;
}

.address-name {
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.address {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.tel-name {
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.contacts-phone {
  color: var(--black-color);
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.opening-hours {
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
}

.contacts-button {
  width: 253px;
  height: 43px;
  align-items: center;
}

.map {
  height: 430px;
  background-color: #ffffff;
  padding: 0;
  margin-bottom: 18px;
}

.map-position {
  position: relative;
  height: 430px;
  padding: 0;
  margin: 0;
}

/*Catalog*/
.page-catalog-header {
  display: grid;
  grid-template-columns: 1fr;
}
.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 16px;
  list-style: none;
}

.crumb > a {
  color: var(--basic-font-color);
}

.main-headline {
  grid-column: 1/-1;
  justify-self: start;
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  color: var(--basic-font-color);
}

.catalog-ice-cream {
  list-style: none;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style: none;
}

.pagination > li {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  list-style: none;
}

.pagination-item > a{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  color: var(--basic-font-color);
  font-size: 16px;
  line-height: 18px;
}

.pagination-item > a:hover {
  background: rgba(255, 255, 255, 0.2);
}

.pagination-item > a:active {
  color: var(--black-color);
  background: var(--basic-font-color);
}

.pagination-item-active > a{
  color: var(--black-color);
  background: var(--basic-font-color);
}

/*Main-Footer*/
.main-footer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.footer-social-links {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 200px;
  list-style: none;
}

.social-button {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
}

.social-button svg {
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social-button:hover path {
  fill-opacity: 1;
}

.social-button:active svg {
  border: 2px solid rgba(255, 255, 255, 0.7);
}

.footer-social {
  align-self: center;
}

.facebook path {
  fill-opacity: 0.8;
}

.footer-social-links {
  display: flex;
  width: 165px;
  justify-content: space-between;
}

.footer-social a {
  border-radius: 50%;
}

.footer-info {
  justify-self: center;
}

.footer-info-links {
  display: flex;
  flex-wrap: wrap;
  width: 360px;
  list-style: none;
  padding-left: 0;
}

.footer-info-links > li {
  flex-basis: 45%;
}

.footer-info a{
  color: var(--basic-font-color);
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
}

.footer-copyright {
  justify-self: end;
  align-self: center;
}

.footer-copyright-link {
  color: var(--basic-font-color);
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}

.htmlacademy-link {
  color: var(--basic-font-color);
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}
